.c1{
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background-color: aqua;
}
.c2{
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background-color: coral;
}
.c3{
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background-color: crimson;
    position: absolute;
    top: 220px;
    left: 320px;
    right: 320px;
    bottom: 120px;
}
.c4{
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background-color: cyan;
}