.c1{
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background-color: aqua;
}
.c2{
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background-color: coral;
    position: relative;
    top: 0px;
    bottom: 10px;
}
.c3{
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background-color: crimson;
}
.c4{
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    background-color: cyan;
}